# Node & Dependencies
node_modules/
**/node_modules/

# Next.js Build Artifacts
.next/
**/.next/
out/
**/out/

# Environment Variables
.env
.env.local
.env*.local
**/.env.local

# Vercel & IDE
.vercel/
**/.vercel/
.idea/
.vscode/

# Logs & Temporary Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
